*.aux
*.log
*.lg
*.xref
*.tmp
*.toc
*.css
*.out
*.4ct
*.4tc
*.swp
*.dvi
*.idv
*.epub
*.html
*.opf
*.ncx
*.fls
*.pdf
*.fdb_latexmk
readme.tex
changelog.tex
tags
tex4ebook-doc-epub3/
tex4ebook-doc-epub/
make4ht-eb.lua
build/
